<% if Rails.application.routes.recognize_path(request.referrer)[:action] != "shared" %>
  <i class="note-pin <%= note.is_pinned ? "fas fa-thumbtack" : "fas fa-map-pin" %>" data-pinned=<%= note.is_pinned %>></i>
<% end %>
<div class="card-body">
  <h5 class="card-title">Title: <%= note.title %></h5>
  <p class="card-text">Description: <%= note.description %></p>

  <% if note.images.attached? %>
    <%= render 'images', note: note %>
  <% end %>
  <% if Rails.application.routes.recognize_path(request.referrer)[:action] != "shared" %>
    <%= render 'note_links', note: note %>
  <% else %>
    <%= render 'shared_note_links', note: note %>
  <% end %>
</div>
</div>