<div class="notes-main-container">
  <% if @notes.empty? %>
    <h4>No Notes available</h4>
  <% else %>
    <div class="card-columns mt-5">
      <% @notes.each do |note| %>
        <div class="card" style="background-color: <%= note.background_color %>" data-id="<%= note.id %>">

          <div class="card-body">
            <h5 class="card-title">Title: <%= note.title %></h5>
            <p class="card-text">Description: <%= note.description %></p>
            <% if note.images.attached? %>
              <%= render 'images', note: note %>
            <% end %>
           <%= render 'shared_note_links', note: note %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
