<!DOCTYPE html>
<html>
<head>
  <title>GoogleNotesDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<script>
    <% flash.each do |key, value| %>
    $.notify("<%= value %>", "<%= key %>", {autoHide: true, autoHideDelay: 5000});
    <% end %>
</script>
<% if user_signed_in? %>
  <%= render 'layouts/topbar' %>
<% end %>

<div class="container">
  <%= yield %>
</div>
<div class="note-form-modal-div"></div>

</body>
</html>
